* {
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: linear-gradient(90deg, #708090, #406094);
}

h1, h2 {
    font-size: 28px;
    color: #7fffd4;
}

p {
    font-size: 28px;
    color: #fefefe;
}

h3, h4 {
    font-size: 28px;
    color: #414141bd;
}

.banner {
    display: block;
    position: fixed;
    width: 120%;
    height: 60%;
    top: 10%;
    right: 10%;
    background: linear-gradient(45deg, #708090, #406094);
}