* {
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
}

h1, h2 {
    font-size: 28px;
    color: #7fffd4;
}

p {
    font-size: 28px;
    color: #fefefe;
}

h3, h4 {
    font-size: 28px;
    color: #414141bd;
}

.banner {
    display: block;
    position: fixed;
    background-color: linear-gradient(45deg, #708090, #708090);
}